name: ci

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-node@v6

      - run: npm ci

      - name: Generate packages.txt
        run: npm list --all --json --long | jq -r '.. | .resolved? // empty' | sort -u | tee packages.txt

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update packages.txt
